body{
    background-color: #e7e6e1;
}

body nav{
    position: sticky;
    top: 0;
}

ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
}

li{
    list-style: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
}

li a{
    text-decoration: none;
    color: black;
}