body {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

button{
    margin: 0;
    position: absolute;
    top: 333px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}